* {
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

body {
    margin: 0px;
}

@media (min-width:992px) {
    #header {
        background-color: red;
        flex: 100%;
        height: 20%;
        align-content: center;
    }
    #aside_left {
        background-color: green;
        flex: 20%;
        order: 0;
    }
    #article {
        background-color: aqua;
        flex: 60%;
        order: 1;
        height: 100%;
    }
    #aside_right {
        background-color: pink;
        flex: 20%;
        order: 2;
    }
    #footer {
        background-color: blueviolet;
        flex: 100%;
        order: 3;
        height: 20%;
        align-content: center;
    }
}

@media (min-width:768px) and (max-width:992px) {
    #header {
        background-color: red;
        flex: 100%;
        height: 15%;
        order: 0;
        align-content: center;
    }
    #aside_left {
        background-color: green;
        flex: 100%;
        order: 3;
        height: 100%;
    }
    #article {
        background-color: aqua;
        flex: 75%;
        order: 1;
        height: 100%;
    }
    #aside_right {
        background-color: pink;
        flex: 25%;
        order: 2;
    }
    #footer {
        background-color: blueviolet;
        flex: 100%;
        order: 4;
        height: 15%;
        align-content: center;
    }
}

@media (max-width:768px) {
    #header {
        background-color: red;
        flex: 100%;
        height: 15%;
        order: 0;
        align-content: center;
    }
    #aside_left {
        background-color: green;
        flex: 100%;
        order: 2;
        height: 100%;
    }
    #article {
        background-color: aqua;
        flex: 100%;
        order: 1;
        height: 80%;
    }
    #aside_right {
        background-color: pink;
        flex: 100%;
        order: 3;
        height: 80%;
    }
    #footer {
        background-color: blueviolet;
        flex: 100%;
        order: 4;
        height: 15%;
        align-content: center;
    }
}